body{
   background-color: aliceblue;

}

h1{
  color: aqua;
  text-align: center;
  background-color: black;

}
#a{

    color: black;
    background-color: yellow;
}
.z{

    color: red;
    background-color: blueviolet;
}